<html>
<head>
</head>
<body>
{% if not book %}
<p><span style = "color: red; font-weight: bold">Please provide a book parameter.</span></p>
{% else %}
<p><span style = "font-weight: bold">The following information has been added to the <span style = "color: blue; font-weight: bold">{{ book }}</span> mailing list:</span></p>
<table style = "border: 0; border-width: 0; border-spacing: 10">
  <tr>
    <td style = "background-color: yellow">Name</td>
    <td style = "background-color: yellow">Email</td>
    <td style = "background-color: yellow">Phone</td>
    <td style = "background-color: yellow">OS</td>
    <td style = "background-color: yellow">Book</td>
  </tr>
  {% for result in results %}
  <tr>
	  <td>{{ result.first_name }} {{ result.last_name }}</td>
	  <td>{{ result.email }}</td>
	  <td>{{ result.phone }}</td>
	  <td>{{ result.os }}</td>
	  <td>{{ result.book }}<td>
  </tr>
  {% endfor %}
</table>
<br />
<a href="/form.html">Go To Registration Page</a><br />
<br />
<a href="/showall.html">Show All People Registered</a><br />
{% endif %}
<form method = "get" action = "/showlist.html">
<p>Only Show People Registered to the following list:</p>
<select name = "book">
<option>XML How to Program</option>
<option>Python How to Program</option>
<option>E-business and E-commerce How to Program</option>
<option>Internet and WWW How to Program 3e</option>
<option>C++ How to Program 4e</option>
<option>Java How to Program 5e</option>
<option>Visual Basic How to Program</option>
</select>
<input type = "submit" value="View" />
</form>
</body>
</html>
