<!DOCTYPE html PUBLIC
   "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "DTD/xhtml1-transitional.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <title>CSC204 REST form</title>
</head>

<body style = "font-family: Arial, sans-serif; font-size: 11pt">
  <p style = "font-size: 15pt; font-weight: bold">This is a sample registration form.</p>
  <p>Please fill in all fields and click Register.</p>

  <form method = "post" action = "/fig35_1718">
    <img src = "/img/user.gif" alt = "user" /><br />
    <p style = "color: blue">Please fill out the fields below.</p>

    <img src = "/img/fname.gif" alt = "fname" />
    <input type = "text" name = "firstname" /><br />
    <img src = "/img/lname.gif" alt = "lname" />
    <input type = "text" name = "lastname" /><br />
    <img src = "/img/email.gif" alt = "email" />
    <input type = "text" name = "email" /><br />
    <img src = "/img/phone.gif" alt = "phone" />
    <input type = "text" name = "phone" /><br />  

    <p style = "font-size: 8pt">Must be in the form (555)555-5555</p>

    <img src = "/img/downloads.gif" alt = "downloads" /><br />

    <p style = "color: blue">Which book would you like information about?</p>

    <select name = "book">
      <option>XML How to Program</option>
      <option>Python How to Program</option>
      <option>E-business and E-commerce How to Program</option>
      <option>Internet and WWW How to Program 3e</option>
      <option>C++ How to Program 4e</option>
      <option>Java How to Program 5e</option>
      <option>Visual Basic How to Program</option>
    </select>
    <br />
    <br />

    <img src = "/img/os.gif" alt = "os" /><br />
    <p style = "color: blue">Which operating system are you currently using?</p>

    <input type = "radio" name = "os" value = "Windows XP" checked = "checked" />Windows XP
    <input type = "radio" name = "os" value = "Windows 2000" />Windows 2000
    <input type = "radio" name = "os" value = "Windows 95_98" />Windows 95/98/ME<br />
    
    <input type = "radio" name = "os" value = "Linux" />Linux
    <input type = "radio" name = "os" value = "Other" />Other<br />

    <input type = "submit" value = "Register" />
  </form>
</body>
</html>
