<html xmlns = "http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head><title>Registration results</title></head>
  <body>
    <p>Hi <span style = "color: blue; font-weight: bold">{{ firstName }}</span>.</p>
    {% if printFormError %}
    <p style = "color: red; font-size 15pt">FORM ERROR</p>
    <p>You have not filled in all fields.</p>
    <p><span style = "color: blue"> Click the Back button, fill out the form and resubmit.</span></p>
    <p>Thank You.</p>
    {% else %}{% if printPhoneError %}
    <p style = "color: red; font-size 15pt">INVALID PHONE NUMBER</p>
    <p>A valid phone number must be in the form <span style = "font-weight: bold">(555)555-5555</span></p>
    <p><span style = "color: blue"> Click the Back button, enter a valid phone number and resubmit.</span></p>
    <p>Thank You.</p>
    {% else %}
    <p>Thank you for completing the survey.<br />
    You have been added to the <span style = "color: blue; font-weight: bold">{{ book }}</span> mailing list.</p>

    <p style = "font-weight: bold">The following information has been saved in our database:</p>

    <table style = "border: 0; border-width: 0; border-spacing: 10">
    <tr><td style = "background-color: yellow">Name </td>
        <td style = "background-color: yellow">Email</td>
	<td style = "background-color: yellow">Phone</td>
        <td style = "background-color: yellow">OS</td></tr>

<tr><td>{{ firstName }} {{ lastName }}</td><td>{{ email }}</td>
	    <td>{{ phone }}</td><td>{{ os }}</td></tr>
    </table>
    <br />
    <br />
    <br />
    {% endif %}{% endif %}
    <div style = "text-align: center; font-size: 8pt">This is only a sample form. You have not been added to a mailing list.</div></center>
</body>
</html>
